<div class="clr-col-sm-12">
<h1 style="color:#00bcd4">{{bankDetails.bank_name | titlecase}}</h1>
<br>
<div style="height:1px;width:100%;background:#d1d1d1"></div>
<br>
<div class="clr-col-sm-10">
    <table class="table table-vertical">
        <tbody>
            <tr>
                <th>Bank Id</th>
                <td>{{bankDetails.bank_id}}</td>
            </tr>
            <tr>
                <th>Bank Name</th>
                <td>{{bankDetails.bank_name}}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{bankDetails.branch}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{bankDetails.city}}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{bankDetails.district}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{bankDetails.address}}</td>
            </tr>
            <tr>
                <th>IFSC</th>
                <td>{{bankDetails.ifsc}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>